body{
	background: #4b4d4e;
	margin: 0 auto;

}
.container{
	width: 980px; 
}

.bloc{
	float: left;
	margin: 5px;
	/*border: solid;*/
	height: 200px;
	width: 114px;
}

.masonry-brick{
	width: 114px;
	height: 200px;
	margin: 2px;
}

.titreBloc{
  color: #69c;
  font-size: 22px;
  height: auto;
  width: auto;
  text-align: center;
  margin-top: 1px;
  /*border-style: solid;*/
  border-bottom: 1px;
  border-color: #000;
}

.alignement {
  margin: auto;
  text-align: center;
  color: #999;
}

a, a:hover{
	cursor: pointer;
	color: #428bca;
	text-decoration: none;
}

.imgDevice{
	margin-left: auto;
	margin-right: auto;
}

.imgDevice, .imgDeviceDetails{
	display: block;
	width: 100px;
	height: 100px;
}

.blocDetailsDevice{
	width: 315px;
	height: 284px;
	border: 1px solid black;
	margin: 2px;
	padding: 10px; /* Marge intérieure */
	background-color: #393939;

}
