<div class="container">
     
	<!------------------- DEBUT DEVICES ------------------->  
	<div class="row">
		<input ng-model="query" ng-init="" disabled></input>
	</div>
	<div class="row">
		<div class="page-header">
			<h1>
				<a ng-href="" ng-click="query=''">Ma domotique contient {{devices.length}} modules
				</a>
			</h1>
		</div>
	</div>
	<div class="row">	
		<div masonry>
		
			<div id="#portfolio" ng-repeat="device in devices | orderBy:'piece' | filter: query">
				<div class="bloc {{device.piece}} masonry-brick">
					<h3 class="titreBloc">
						<small>
							<a ng-href="" ng-click="assign(device.piece)">{{device.piece}}</a>
						</small>
					</h3>
					<a class="thumb" ng-ref=""><img class="imgDevice" ng-src="{{testType(device.type,device.level)}}">
					</a>
					<p class="alignement">{{device.item}}</p>
				</div>
				
	<!--			<div class="blocDetailsDevice" ng-show="details[$index]">
					<a ng-href="" ng-click="afficheDetails($index)"><img class="imgDeviceDetails" ng-src="{{testType(device.type,device.level)}}" alt="{{device.type}}"></a>
					<p class="alignement">{{device.item}}</p>
				</div>-->
				
			</div> <!-- /.ng-repeat -->
		</div><!-- /.masonry -->
	</div>
	<!------------------- FIN DEVICES ------------------->

</div><!-- /.container -->      